{
  "openapi": "3.0.0",
  "info": {
    "title": "Inbound API v2",
    "version": "2.0.0",
    "description": "The official API documentation for Inbound - Email API Service. Manage domains, send emails, handle webhooks, and more.",
    "contact": {
      "name": "Inbound Support",
      "url": "https://inbound.new/support",
      "email": "support@inbound.new"
    },
    "license": {
      "name": "Commercial",
      "url": "https://inbound.new/terms"
    }
  },
  "servers": [
    {
      "url": "https://inbound.new/api/v2",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api/v2",
      "description": "Local development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key authentication. Use 'Bearer YOUR_API_KEY'"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for session-based authentication"
      }
    }
  },
  "defaultResponseSet": "auth",
  "responseSets": {
    "common": [
      "400",
      "500"
    ],
    "auth": [
      "400",
      "401",
      "500"
    ],
    "crud": [
      "400",
      "401",
      "403",
      "404",
      "409",
      "500"
    ],
    "public": [
      "400",
      "500"
    ]
  },
  "errorConfig": {
    "template": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "example": "{{ERROR_MESSAGE}}"
        },
        "code": {
          "type": "string",
          "example": "{{ERROR_CODE}}"
        },
        "details": {
          "type": "string",
          "example": "Additional error details"
        }
      }
    },
    "codes": {
      "400": {
        "description": "Bad Request",
        "variables": {
          "ERROR_MESSAGE": "Invalid request parameters",
          "ERROR_CODE": "BAD_REQUEST"
        }
      },
      "401": {
        "description": "Unauthorized",
        "variables": {
          "ERROR_MESSAGE": "Authentication required. Please provide a valid API key or session token.",
          "ERROR_CODE": "UNAUTHORIZED"
        }
      },
      "403": {
        "description": "Forbidden",
        "variables": {
          "ERROR_MESSAGE": "Access denied. You don't have permission to perform this action.",
          "ERROR_CODE": "FORBIDDEN"
        }
      },
      "404": {
        "description": "Not Found",
        "variables": {
          "ERROR_MESSAGE": "Resource not found",
          "ERROR_CODE": "NOT_FOUND"
        }
      },
      "409": {
        "description": "Conflict",
        "variables": {
          "ERROR_MESSAGE": "Resource already exists or conflicts with existing data",
          "ERROR_CODE": "CONFLICT"
        }
      },
      "429": {
        "description": "Too Many Requests",
        "variables": {
          "ERROR_MESSAGE": "Rate limit exceeded. Please upgrade your plan or try again later.",
          "ERROR_CODE": "RATE_LIMITED"
        }
      },
      "500": {
        "description": "Internal Server Error",
        "variables": {
          "ERROR_MESSAGE": "An unexpected error occurred. Please try again later.",
          "ERROR_CODE": "INTERNAL_ERROR"
        }
      }
    }
  },
  "apiDir": "./app/api/v2",
  "schemaDir": "./app/api/v2",
  "schemaType": "typescript",
  "docsUrl": "api-docs",
  "ui": "scalar",
  "outputFile": "openapi.json",
  "outputDir": "./",
  "includeOpenApiRoutes": true,
  "debug": true
}
