{
  "openapi": "3.0.0",
  "info": {
    "title": "Inbound API v2",
    "version": "2.0.0",
    "description": "The official API documentation for Inbound - Email API Service. Manage domains, send emails, handle webhooks, and more.",
    "contact": {
      "name": "Inbound Support",
      "url": "https://inbound.new/support",
      "email": "support@inbound.new"
    },
    "license": {
      "name": "Commercial",
      "url": "https://inbound.new/terms"
    }
  },
  "servers": [
    {
      "url": "https://inbound.new/api/v2",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api/v2",
      "description": "Local development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key authentication. Use 'Bearer YOUR_API_KEY'"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token for session-based authentication"
      }
    },
    "schemas": {
      "DomainIdParam": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the domain"
          }
        }
      },
      "PostDomainAuthInitRequest": {
        "type": "object",
        "properties": {
          "mailFromDomain": {
            "type": "string",
            "nullable": true
          },
          "generateSpf": {
            "type": "boolean",
            "nullable": true
          },
          "generateDmarc": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "PostDomainAuthInitResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "domain": {
            "type": "string"
          },
          "sesIdentityStatus": {
            "type": "string"
          },
          "dkimEnabled": {
            "type": "boolean"
          },
          "dkimTokens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mailFromDomain": {
            "type": "string"
          },
          "mailFromStatus": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "TXT",
                    "CNAME",
                    "MX"
                  ]
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "priority": {
                  "type": "number"
                },
                "isRequired": {
                  "type": "boolean"
                },
                "isVerified": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "message": {
            "type": "string"
          }
        }
      },
      "DnsRecordOut": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "TXT",
              "CNAME",
              "MX"
            ]
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "priority": {
            "type": "number"
          },
          "isRequired": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "PatchDomainAuthVerifyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "domain": {
            "type": "string"
          },
          "overallStatus": {
            "type": "string",
            "enum": [
              "verified",
              "pending",
              "failed"
            ]
          },
          "dnsRecords": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "isRequired": {
                  "type": "boolean"
                },
                "isVerified": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                },
                "lastChecked": {
                  "type": "string"
                }
              }
            }
          },
          "sesStatus": {
            "type": "object",
            "properties": {
              "identityStatus": {
                "type": "string"
              },
              "identityVerified": {
                "type": "boolean"
              },
              "dkimStatus": {
                "type": "string"
              },
              "dkimVerified": {
                "type": "boolean"
              },
              "dkimTokens": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "mailFromDomain": {
                "type": "string"
              },
              "mailFromStatus": {
                "type": "string"
              },
              "mailFromVerified": {
                "type": "boolean"
              }
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "totalRecords": {
                "type": "number"
              },
              "verifiedRecords": {
                "type": "number"
              },
              "requiredRecords": {
                "type": "number"
              },
              "verifiedRequiredRecords": {
                "type": "number"
              }
            }
          },
          "message": {
            "type": "string"
          },
          "nextSteps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DnsVerificationResultOut": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "isRequired": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "lastChecked": {
            "type": "string"
          }
        }
      },
      "SesVerificationStatusOut": {
        "type": "object",
        "properties": {
          "identityStatus": {
            "type": "string"
          },
          "identityVerified": {
            "type": "boolean"
          },
          "dkimStatus": {
            "type": "string"
          },
          "dkimVerified": {
            "type": "boolean"
          },
          "dkimTokens": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "mailFromDomain": {
            "type": "string"
          },
          "mailFromStatus": {
            "type": "string"
          },
          "mailFromVerified": {
            "type": "boolean"
          }
        }
      },
      "GetDomainDnsRecordsResponse": {
        "type": "object",
        "properties": {
          "domainId": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "domainId": {
                  "type": "string"
                },
                "recordType": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "priority": {
                  "type": "number",
                  "nullable": true
                },
                "isRequired": {
                  "type": "boolean"
                },
                "isVerified": {
                  "type": "boolean"
                },
                "lastChecked": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domainId": {
            "type": "string"
          },
          "recordType": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "priority": {
            "type": "number",
            "nullable": true
          },
          "isRequired": {
            "type": "boolean"
          },
          "isVerified": {
            "type": "boolean"
          },
          "lastChecked": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "GetDomainByIdRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "from params"
          }
        }
      },
      "GetDomainByIdResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "canReceiveEmails": {
            "type": "boolean"
          },
          "hasMxRecords": {
            "type": "boolean"
          },
          "domainProvider": {
            "type": "string",
            "nullable": true
          },
          "providerConfidence": {
            "type": "string",
            "nullable": true
          },
          "lastDnsCheck": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastSesCheck": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isCatchAllEnabled": {
            "type": "boolean"
          },
          "catchAllEndpointId": {
            "type": "string",
            "nullable": true
          },
          "mailFromDomain": {
            "type": "string",
            "nullable": true
          },
          "mailFromDomainStatus": {
            "type": "string",
            "nullable": true
          },
          "mailFromDomainVerifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalEmailAddresses": {
                "type": "number"
              },
              "activeEmailAddresses": {
                "type": "number"
              },
              "emailsLast24h": {
                "type": "number"
              },
              "emailsLast7d": {
                "type": "number"
              },
              "emailsLast30d": {
                "type": "number"
              }
            }
          },
          "catchAllEndpoint": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "isActive": {
                "type": "boolean"
              }
            },
            "nullable": true,
            "description": "Additional fields when check=true"
          },
          "verificationCheck": {
            "type": "object",
            "properties": {
              "dnsRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "isVerified": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              },
              "sesStatus": {
                "type": "string"
              },
              "dkimStatus": {
                "type": "string"
              },
              "dkimVerified": {
                "type": "boolean"
              },
              "dkimTokens": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "mailFromDomain": {
                "type": "string"
              },
              "mailFromStatus": {
                "type": "string"
              },
              "mailFromVerified": {
                "type": "boolean"
              },
              "isFullyVerified": {
                "type": "boolean"
              },
              "lastChecked": {
                "type": "string",
                "format": "date-time"
              }
            },
            "description": "Recommendations when records are missing"
          },
          "authRecommendations": {
            "type": "object",
            "properties": {
              "spf": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              },
              "dmarc": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "DomainStats": {
        "type": "object",
        "properties": {
          "totalEmailAddresses": {
            "type": "number"
          },
          "activeEmailAddresses": {
            "type": "number"
          },
          "emailsLast24h": {
            "type": "number"
          },
          "emailsLast7d": {
            "type": "number"
          },
          "emailsLast30d": {
            "type": "number"
          }
        }
      },
      "PutDomainByIdRequest": {
        "type": "object",
        "properties": {
          "isCatchAllEnabled": {
            "type": "boolean",
            "nullable": false
          },
          "catchAllEndpointId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PutDomainByIdResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "isCatchAllEnabled": {
            "type": "boolean"
          },
          "catchAllEndpointId": {
            "type": "string",
            "nullable": true
          },
          "catchAllEndpoint": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "isActive": {
                "type": "boolean"
              }
            },
            "nullable": true
          },
          "receiptRuleName": {
            "type": "string",
            "nullable": true
          },
          "awsConfigurationWarning": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DeleteDomainByIdResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "deletedResources": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string"
              },
              "emailAddresses": {
                "type": "number"
              },
              "dnsRecords": {
                "type": "number"
              },
              "blockedEmails": {
                "type": "number"
              },
              "sesIdentity": {
                "type": "boolean"
              },
              "sesReceiptRules": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "PatchDomainByIdResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "mailFromDomain": {
            "type": "string"
          },
          "mailFromDomainStatus": {
            "type": "string"
          },
          "additionalDnsRecords": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "isRequired": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "GetDomainsRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "verified",
              "failed"
            ]
          },
          "canReceive": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          "check": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          }
        }
      },
      "GetDomainsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "canReceiveEmails": {
                  "type": "boolean"
                },
                "hasMxRecords": {
                  "type": "boolean"
                },
                "domainProvider": {
                  "type": "string",
                  "nullable": true
                },
                "providerConfidence": {
                  "type": "string",
                  "nullable": true
                },
                "lastDnsCheck": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "lastSesCheck": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "isCatchAllEnabled": {
                  "type": "boolean"
                },
                "catchAllEndpointId": {
                  "type": "string",
                  "nullable": true
                },
                "mailFromDomain": {
                  "type": "string",
                  "nullable": true
                },
                "mailFromDomainStatus": {
                  "type": "string",
                  "nullable": true
                },
                "mailFromDomainVerifiedAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "receiveDmarcEmails": {
                  "type": "boolean"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "totalEmailAddresses": {
                      "type": "number"
                    },
                    "activeEmailAddresses": {
                      "type": "number"
                    },
                    "hasCatchAll": {
                      "type": "boolean"
                    }
                  }
                },
                "catchAllEndpoint": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "isActive": {
                      "type": "boolean"
                    }
                  },
                  "nullable": true,
                  "description": "Additional fields when check=true"
                },
                "verificationCheck": {
                  "type": "object",
                  "properties": {
                    "dnsRecords": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "isVerified": {
                            "type": "boolean"
                          },
                          "error": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "sesStatus": {
                      "type": "string"
                    },
                    "isFullyVerified": {
                      "type": "boolean"
                    },
                    "lastChecked": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "number"
              },
              "offset": {
                "type": "number"
              },
              "total": {
                "type": "number"
              },
              "hasMore": {
                "type": "boolean"
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "totalCount": {
                "type": "number"
              },
              "verifiedCount": {
                "type": "number"
              },
              "withCatchAllCount": {
                "type": "number"
              },
              "statusBreakdown": {
                "type": "object",
                "properties": {
                  "verified": {
                    "type": "number"
                  },
                  "pending": {
                    "type": "number"
                  },
                  "failed": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      },
      "DomainWithStats": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "canReceiveEmails": {
            "type": "boolean"
          },
          "hasMxRecords": {
            "type": "boolean"
          },
          "domainProvider": {
            "type": "string",
            "nullable": true
          },
          "providerConfidence": {
            "type": "string",
            "nullable": true
          },
          "lastDnsCheck": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastSesCheck": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isCatchAllEnabled": {
            "type": "boolean"
          },
          "catchAllEndpointId": {
            "type": "string",
            "nullable": true
          },
          "mailFromDomain": {
            "type": "string",
            "nullable": true
          },
          "mailFromDomainStatus": {
            "type": "string",
            "nullable": true
          },
          "mailFromDomainVerifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "receiveDmarcEmails": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalEmailAddresses": {
                "type": "number"
              },
              "activeEmailAddresses": {
                "type": "number"
              },
              "hasCatchAll": {
                "type": "boolean"
              }
            }
          },
          "catchAllEndpoint": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "isActive": {
                "type": "boolean"
              }
            },
            "nullable": true,
            "description": "Additional fields when check=true"
          },
          "verificationCheck": {
            "type": "object",
            "properties": {
              "dnsRecords": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "isVerified": {
                      "type": "boolean"
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              },
              "sesStatus": {
                "type": "string"
              },
              "isFullyVerified": {
                "type": "boolean"
              },
              "lastChecked": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "PostDomainsRequest": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "nullable": false
          }
        }
      },
      "PostDomainsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "verified",
              "failed"
            ]
          },
          "canReceiveEmails": {
            "type": "boolean"
          },
          "hasMxRecords": {
            "type": "boolean"
          },
          "domainProvider": {
            "type": "string",
            "nullable": true
          },
          "providerConfidence": {
            "type": "string",
            "nullable": true
          },
          "mailFromDomain": {
            "type": "string"
          },
          "mailFromDomainStatus": {
            "type": "string"
          },
          "dnsRecords": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "isRequired": {
                  "type": "boolean"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "EmailAddressIdParam": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the email address"
          }
        }
      },
      "GetEmailAddressByIdResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "domainId": {
            "type": "string"
          },
          "webhookId": {
            "type": "string",
            "nullable": true
          },
          "endpointId": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "isReceiptRuleConfigured": {
            "type": "boolean"
          },
          "receiptRuleName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "domain": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "routing": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "webhook",
                  "endpoint",
                  "none"
                ]
              },
              "id": {
                "type": "string",
                "nullable": true
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "config": {
                "type": "object"
              },
              "isActive": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "PutEmailAddressByIdRequest": {
        "type": "object",
        "properties": {
          "endpointId": {
            "type": "string",
            "nullable": true
          },
          "webhookId": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "PutEmailAddressByIdResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "domainId": {
            "type": "string"
          },
          "webhookId": {
            "type": "string",
            "nullable": true
          },
          "endpointId": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "isReceiptRuleConfigured": {
            "type": "boolean"
          },
          "receiptRuleName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "domain": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "routing": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "webhook",
                  "endpoint",
                  "none"
                ]
              },
              "id": {
                "type": "string",
                "nullable": true
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "config": {
                "type": "object"
              },
              "isActive": {
                "type": "boolean"
              }
            }
          },
          "warning": {
            "type": "string"
          }
        }
      },
      "DeleteEmailAddressByIdResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "cleanup": {
            "type": "object",
            "properties": {
              "sesRuleUpdated": {
                "type": "boolean"
              },
              "emailAddress": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              },
              "warning": {
                "type": "string"
              }
            }
          }
        }
      },
      "GetEmailAddressesRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "domainId": {
            "type": "string"
          },
          "isActive": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          "isReceiptRuleConfigured": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          }
        }
      },
      "GetEmailAddressesResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "address": {
                  "type": "string"
                },
                "domainId": {
                  "type": "string"
                },
                "webhookId": {
                  "type": "string",
                  "nullable": true
                },
                "endpointId": {
                  "type": "string",
                  "nullable": true
                },
                "isActive": {
                  "type": "boolean"
                },
                "isReceiptRuleConfigured": {
                  "type": "boolean"
                },
                "receiptRuleName": {
                  "type": "string",
                  "nullable": true
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "userId": {
                  "type": "string"
                },
                "domain": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "routing": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "webhook",
                        "endpoint",
                        "none"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "nullable": true
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "config": {
                      "type": "object"
                    },
                    "isActive": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "number"
              },
              "offset": {
                "type": "number"
              },
              "total": {
                "type": "number"
              },
              "hasMore": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "EmailAddressWithDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "domainId": {
            "type": "string"
          },
          "webhookId": {
            "type": "string",
            "nullable": true
          },
          "endpointId": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "isReceiptRuleConfigured": {
            "type": "boolean"
          },
          "receiptRuleName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "domain": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "routing": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "webhook",
                  "endpoint",
                  "none"
                ]
              },
              "id": {
                "type": "string",
                "nullable": true
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "config": {
                "type": "object"
              },
              "isActive": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "PostEmailAddressesRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "nullable": false
          },
          "domainId": {
            "type": "string",
            "nullable": false
          },
          "endpointId": {
            "type": "string",
            "nullable": true
          },
          "webhookId": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "PostEmailAddressesResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "domainId": {
            "type": "string"
          },
          "webhookId": {
            "type": "string",
            "nullable": true
          },
          "endpointId": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "isReceiptRuleConfigured": {
            "type": "boolean"
          },
          "receiptRuleName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "userId": {
            "type": "string"
          },
          "domain": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          },
          "routing": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "webhook",
                  "endpoint",
                  "none"
                ]
              },
              "id": {
                "type": "string",
                "nullable": true
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "config": {
                "type": "object"
              },
              "isActive": {
                "type": "boolean"
              }
            }
          },
          "warning": {
            "type": "string"
          }
        }
      },
      "EmailIdParam": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the email to get the thread for"
          }
        }
      },
      "PostEmailReplyRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "nullable": false
          },
          "from_name": {
            "type": "string",
            "description": "Optional sender name for display",
            "nullable": true
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "Optional - will use original sender if not provided",
            "nullable": true
          },
          "subject": {
            "type": "string",
            "description": "Optional - will add \"Re: \" to original subject if not provided",
            "nullable": true
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "nullable": true
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "nullable": true
          },
          "reply_to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "snake_case (legacy)",
            "nullable": true
          },
          "replyTo": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "camelCase (Resend-compatible)",
            "nullable": true
          },
          "html": {
            "type": "string",
            "nullable": true
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Remote file URL",
                  "nullable": true
                },
                "content": {
                  "type": "string",
                  "description": "Base64 encoded content",
                  "nullable": true
                },
                "filename": {
                  "type": "string",
                  "description": "Required display name",
                  "nullable": false
                },
                "contentType": {
                  "type": "string",
                  "description": "camelCase (Resend-compatible)",
                  "nullable": true
                },
                "content_type": {
                  "type": "string",
                  "description": "snake_case (legacy)",
                  "nullable": true
                },
                "content_id": {
                  "type": "string",
                  "description": "Content ID for embedding (e.g., \"logo\" for <img src=\"cid:logo\">)",
                  "nullable": true
                }
              }
            },
            "nullable": true
          },
          "include_original": {
            "type": "boolean",
            "description": "snake_case (legacy)",
            "nullable": true
          },
          "includeOriginal": {
            "type": "boolean",
            "description": "camelCase (Resend-compatible)",
            "nullable": true
          },
          "simple": {
            "type": "boolean",
            "description": "Use simplified reply mode (faster, lighter)",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            },
            "nullable": true
          }
        }
      },
      "AttachmentInput": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "description": "Remote file URL",
            "nullable": true
          },
          "content": {
            "type": "string",
            "description": "Base64 encoded content",
            "nullable": true
          },
          "filename": {
            "type": "string",
            "description": "Required display name",
            "nullable": false
          },
          "contentType": {
            "type": "string",
            "description": "camelCase (Resend-compatible)",
            "nullable": true
          },
          "content_type": {
            "type": "string",
            "description": "snake_case (legacy)",
            "nullable": true
          },
          "content_id": {
            "type": "string",
            "description": "Content ID for embedding (e.g., \"logo\" for <img src=\"cid:logo\">)",
            "nullable": true
          }
        }
      },
      "PostEmailReplyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "messageId": {
            "type": "string",
            "description": "Inbound message ID (used for threading)"
          },
          "awsMessageId": {
            "type": "string",
            "description": "AWS SES Message ID"
          }
        }
      },
      "GetEmailByIdResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "id": {
            "type": "string"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "from": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "html": {
            "type": "string",
            "nullable": true
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "reply_to": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "last_event": {
            "type": "string"
          }
        }
      },
      "PostEmailsRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Now supports both \"email@domain.com\" and \"Display Name <email@domain.com>\" formats",
            "nullable": false
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "nullable": false
          },
          "subject": {
            "type": "string",
            "nullable": false
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "nullable": true
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "nullable": true
          },
          "reply_to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "snake_case (legacy)",
            "nullable": true
          },
          "replyTo": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "camelCase (Resend-compatible)",
            "nullable": true
          },
          "html": {
            "type": "string",
            "nullable": true
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Remote file URL",
                  "nullable": true
                },
                "content": {
                  "type": "string",
                  "description": "Base64 encoded content",
                  "nullable": true
                },
                "filename": {
                  "type": "string",
                  "description": "Required display name",
                  "nullable": false
                },
                "contentType": {
                  "type": "string",
                  "description": "camelCase (Resend-compatible)",
                  "nullable": true
                },
                "content_type": {
                  "type": "string",
                  "description": "snake_case (legacy)",
                  "nullable": true
                },
                "content_id": {
                  "type": "string",
                  "description": "Content ID for embedding (e.g., \"logo\" for <img src=\"cid:logo\">)",
                  "nullable": true
                }
              }
            },
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            },
            "nullable": true
          }
        }
      },
      "PostEmailsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "messageId": {
            "type": "string",
            "description": "AWS SES Message ID"
          }
        }
      },
      "PostScheduleEmailRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Supports both \"email@domain.com\" and \"Display Name <email@domain.com>\" formats",
            "nullable": false
          },
          "to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "nullable": false
          },
          "subject": {
            "type": "string",
            "nullable": false
          },
          "bcc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "nullable": true
          },
          "cc": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "nullable": true
          },
          "reply_to": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "snake_case (legacy)",
            "nullable": true
          },
          "replyTo": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "camelCase (Resend-compatible)",
            "nullable": true
          },
          "html": {
            "type": "string",
            "nullable": true
          },
          "text": {
            "type": "string",
            "nullable": true
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "Remote file URL",
                  "nullable": true
                },
                "content": {
                  "type": "string",
                  "description": "Base64 encoded content",
                  "nullable": true
                },
                "filename": {
                  "type": "string",
                  "description": "Required display name",
                  "nullable": false
                },
                "contentType": {
                  "type": "string",
                  "description": "camelCase (Resend-compatible)",
                  "nullable": true
                },
                "content_type": {
                  "type": "string",
                  "description": "snake_case (legacy)",
                  "nullable": true
                },
                "content_id": {
                  "type": "string",
                  "description": "Content ID for embedding (e.g., \"logo\" for <img src=\"cid:logo\">)",
                  "nullable": true
                }
              }
            },
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              }
            },
            "nullable": true
          },
          "scheduled_at": {
            "type": "string",
            "description": "ISO 8601 or natural language (\"in 1 hour\", \"tomorrow at 9am\")",
            "nullable": false
          },
          "timezone": {
            "type": "string",
            "description": "User's timezone for natural language parsing (defaults to UTC)",
            "nullable": true
          }
        }
      },
      "PostScheduleEmailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string",
            "description": "Normalized ISO 8601 timestamp"
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled"
            ]
          },
          "timezone": {
            "type": "string"
          }
        }
      },
      "GetScheduledEmailsRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "description": "Filter by status"
          }
        }
      },
      "GetScheduledEmailsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "from": {
                  "type": "string"
                },
                "to": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "subject": {
                  "type": "string"
                },
                "scheduled_at": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "timezone": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "attempts": {
                  "type": "number"
                },
                "last_error": {
                  "type": "string"
                }
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "number"
              },
              "offset": {
                "type": "number"
              },
              "total": {
                "type": "number"
              },
              "hasMore": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "ScheduledEmailItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string"
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "attempts": {
            "type": "number"
          },
          "last_error": {
            "type": "string"
          }
        }
      },
      "EndpointIdParam": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the endpoint to test"
          }
        }
      },
      "GetEndpointByIdResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ]
          },
          "config": {},
          "isActive": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "groupEmails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "deliveryStats": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "successful": {
                "type": "number"
              },
              "failed": {
                "type": "number"
              },
              "lastDelivery": {
                "type": "string",
                "nullable": true
              }
            }
          },
          "recentDeliveries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "emailId": {
                  "type": "string"
                },
                "deliveryType": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "attempts": {
                  "type": "number"
                },
                "lastAttemptAt": {
                  "type": "string",
                  "nullable": true
                },
                "responseData": {
                  "type": "object"
                },
                "createdAt": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "associatedEmails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "address": {
                  "type": "string"
                },
                "isActive": {
                  "type": "boolean"
                },
                "createdAt": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "catchAllDomains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "EndpointConfig": {},
      "EndpointDeliveryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "emailId": {
            "type": "string"
          },
          "deliveryType": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "attempts": {
            "type": "number"
          },
          "lastAttemptAt": {
            "type": "string",
            "nullable": true
          },
          "responseData": {
            "type": "object"
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AssociatedEmailAddress": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CatchAllDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "PutEndpointByIdRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "from params",
            "nullable": false
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean",
            "nullable": true
          },
          "config": {
            "nullable": true
          }
        }
      },
      "PutEndpointByIdResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ]
          },
          "config": {},
          "isActive": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "nullable": true
          },
          "groupEmails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        }
      },
      "DeleteEndpointByIdResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "cleanup": {
            "type": "object",
            "properties": {
              "emailAddressesUpdated": {
                "type": "number"
              },
              "emailAddresses": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "domainsUpdated": {
                "type": "number"
              },
              "domains": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "groupEmailsDeleted": {
                "type": "number"
              },
              "deliveriesDeleted": {
                "type": "number"
              }
            }
          }
        }
      },
      "PostEndpointTestRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "from params",
            "nullable": false
          },
          "webhookFormat": {
            "type": "string",
            "enum": [
              "inbound",
              "discord",
              "slack"
            ],
            "description": "optional, defaults to 'inbound'",
            "nullable": true
          }
        }
      },
      "PostEndpointTestResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "responseTime": {
            "type": "number"
          },
          "statusCode": {
            "type": "number"
          },
          "responseBody": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "testPayload": {
            "type": "object"
          },
          "webhookFormat": {
            "type": "string",
            "enum": [
              "inbound",
              "discord",
              "slack"
            ]
          }
        }
      },
      "GetEndpointsRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ]
          },
          "active": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          "sortBy": {
            "type": "string",
            "enum": [
              "newest",
              "oldest"
            ]
          }
        }
      },
      "GetEndpointsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "webhook",
                    "email",
                    "email_group"
                  ]
                },
                "config": {},
                "isActive": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string",
                  "nullable": true
                },
                "userId": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "groupEmails": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "nullable": true
                },
                "deliveryStats": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "successful": {
                      "type": "number"
                    },
                    "failed": {
                      "type": "number"
                    },
                    "lastDelivery": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "number"
              },
              "offset": {
                "type": "number"
              },
              "total": {
                "type": "number"
              },
              "hasMore": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "EndpointWithStats": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ]
          },
          "config": {},
          "isActive": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "groupEmails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "deliveryStats": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "successful": {
                "type": "number"
              },
              "failed": {
                "type": "number"
              },
              "lastDelivery": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "PostEndpointsRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": false
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ],
            "nullable": false
          },
          "config": {
            "nullable": false
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PostEndpointsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ]
          },
          "config": {},
          "isActive": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "groupEmails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "deliveryStats": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number"
              },
              "successful": {
                "type": "number"
              },
              "failed": {
                "type": "number"
              },
              "lastDelivery": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "GetMailByIdResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "emailId": {
            "type": "string"
          },
          "messageId": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "from": {
            "type": "string"
          },
          "fromName": {
            "type": "string",
            "nullable": true
          },
          "to": {
            "type": "string"
          },
          "cc": {
            "type": "string",
            "nullable": true
          },
          "bcc": {
            "type": "string",
            "nullable": true
          },
          "replyTo": {
            "type": "string",
            "nullable": true
          },
          "recipient": {
            "type": "string"
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "isRead": {
            "type": "boolean"
          },
          "readAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "content": {
            "type": "object",
            "properties": {
              "textBody": {
                "type": "string",
                "nullable": true
              },
              "htmlBody": {
                "type": "string",
                "nullable": true
              },
              "rawContent": {
                "type": "string",
                "nullable": true
              },
              "attachments": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string",
                      "nullable": true
                    },
                    "contentType": {
                      "type": "string",
                      "nullable": true
                    },
                    "size": {
                      "type": "number",
                      "nullable": true
                    },
                    "contentId": {
                      "type": "string",
                      "nullable": true
                    },
                    "contentDisposition": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "headers": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                }
              }
            }
          },
          "addresses": {
            "type": "object",
            "properties": {
              "from": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "address": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                "nullable": true
              },
              "to": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "address": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                "nullable": true
              },
              "cc": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "address": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                "nullable": true
              },
              "bcc": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "address": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                "nullable": true
              },
              "replyTo": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "addresses": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "nullable": true
                        },
                        "address": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                },
                "nullable": true
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "inReplyTo": {
                "type": "string",
                "nullable": true
              },
              "references": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "priority": {
                "type": "string",
                "nullable": true
              },
              "parseSuccess": {
                "type": "boolean",
                "nullable": true
              },
              "parseError": {
                "type": "string",
                "nullable": true
              },
              "hasAttachments": {
                "type": "boolean"
              },
              "attachmentCount": {
                "type": "number"
              },
              "hasTextBody": {
                "type": "boolean"
              },
              "hasHtmlBody": {
                "type": "boolean"
              }
            }
          },
          "security": {
            "type": "object",
            "properties": {
              "spf": {
                "type": "string"
              },
              "dkim": {
                "type": "string"
              },
              "dmarc": {
                "type": "string"
              },
              "spam": {
                "type": "string"
              },
              "virus": {
                "type": "string"
              }
            }
          },
          "processing": {
            "type": "object",
            "properties": {
              "processingTimeMs": {
                "type": "number",
                "nullable": true
              },
              "timestamp": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "receiptTimestamp": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "actionType": {
                "type": "string",
                "nullable": true
              },
              "s3Info": {
                "type": "object",
                "properties": {
                  "bucketName": {
                    "type": "string",
                    "nullable": true
                  },
                  "objectKey": {
                    "type": "string",
                    "nullable": true
                  },
                  "contentFetched": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "contentSize": {
                    "type": "number",
                    "nullable": true
                  },
                  "error": {
                    "type": "string",
                    "nullable": true
                  }
                }
              },
              "commonHeaders": {
                "type": "object",
                "additionalProperties": {
                  "type": "object"
                },
                "nullable": true
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "EmailAttachment": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string",
            "nullable": true
          },
          "contentType": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "number",
            "nullable": true
          },
          "contentId": {
            "type": "string",
            "nullable": true
          },
          "contentDisposition": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ParsedEmailAddress": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "nullable": true
                },
                "address": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "PatchMailRequest": {
        "type": "object",
        "properties": {
          "isRead": {
            "type": "boolean",
            "nullable": true
          },
          "isArchived": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "PatchMailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "isRead": {
            "type": "boolean"
          },
          "isArchived": {
            "type": "boolean"
          },
          "readAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "archivedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "GetThreadResponse": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "messageId": {
                  "type": "string",
                  "nullable": true
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "inbound",
                    "outbound"
                  ]
                },
                "subject": {
                  "type": "string",
                  "nullable": true
                },
                "from": {
                  "type": "string"
                },
                "fromName": {
                  "type": "string",
                  "nullable": true
                },
                "to": {
                  "type": "string"
                },
                "receivedAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "sentAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                },
                "content": {
                  "type": "object",
                  "properties": {
                    "textBody": {
                      "type": "string",
                      "nullable": true
                    },
                    "htmlBody": {
                      "type": "string",
                      "nullable": true
                    },
                    "attachments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "filename": {
                            "type": "string"
                          },
                          "contentType": {
                            "type": "string"
                          },
                          "size": {
                            "type": "number"
                          },
                          "contentId": {
                            "type": "string"
                          },
                          "contentDisposition": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "addresses": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "addresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "address": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        }
                      },
                      "nullable": true
                    },
                    "to": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "addresses": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "address": {
                                "type": "string",
                                "nullable": true
                              }
                            }
                          }
                        }
                      },
                      "nullable": true
                    }
                  }
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "inReplyTo": {
                      "type": "string",
                      "nullable": true
                    },
                    "references": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "parseSuccess": {
                      "type": "boolean",
                      "nullable": true
                    },
                    "parseError": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                },
                "isRead": {
                  "type": "boolean"
                },
                "readAt": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              }
            }
          },
          "totalCount": {
            "type": "number"
          },
          "threadId": {
            "type": "string",
            "description": "The root message ID of the thread"
          }
        }
      },
      "ThreadMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "messageId": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
[...]
