{
  "openapi": "3.0.3",
  "info": {
    "title": "Inbound API v2",
    "description": "Unified API v2 for Inbound email management service - Resend-compatible email sending and comprehensive email management",
    "version": "2.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@inbound.new",
      "url": "https://inbound.new/support"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "termsOfService": "https://inbound.new/terms"
  },
  "servers": [
    {
      "url": "https://inbound.new",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development server"
    }
  ],
  "components": {
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          "offset": {
            "type": "number",
            "minimum": 0,
            "default": 0
          },
          "total": {
            "type": "number",
            "minimum": 0
          },
          "hasMore": {
            "type": "boolean"
          }
        },
        "required": [
          "total",
          "hasMore"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "details": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "DomainWithStats": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "verified",
              "failed"
            ]
          },
          "canReceiveEmails": {
            "type": "boolean"
          },
          "canSendEmails": {
            "type": "boolean"
          },
          "isActive": {
            "type": "boolean"
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalEmailAddresses": {
                "type": "number",
                "minimum": 0
              },
              "totalEmailsLast24h": {
                "type": "number",
                "minimum": 0
              },
              "totalEmailsSent": {
                "type": "number",
                "minimum": 0
              }
            },
            "required": [
              "totalEmailAddresses",
              "totalEmailsLast24h",
              "totalEmailsSent"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "domain",
          "description",
          "status",
          "canReceiveEmails",
          "canSendEmails",
          "isActive",
          "stats",
          "createdAt",
          "updatedAt"
        ]
      },
      "DomainStats": {
        "type": "object",
        "properties": {
          "totalEmailAddresses": {
            "type": "number",
            "minimum": 0
          },
          "totalEmailsLast24h": {
            "type": "number",
            "minimum": 0
          },
          "totalEmailsSent": {
            "type": "number",
            "minimum": 0
          }
        },
        "required": [
          "totalEmailAddresses",
          "totalEmailsLast24h",
          "totalEmailsSent"
        ]
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "TXT",
              "MX",
              "CNAME"
            ]
          },
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "priority": {
            "type": "number",
            "nullable": true
          },
          "isVerified": {
            "type": "boolean"
          },
          "isRequired": {
            "type": "boolean"
          },
          "purpose": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "name",
          "value",
          "priority",
          "isVerified",
          "isRequired",
          "purpose"
        ]
      },
      "GetDomainsRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          "offset": {
            "type": "number",
            "minimum": 0,
            "default": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "verified",
              "failed"
            ]
          },
          "sortBy": {
            "type": "string",
            "enum": [
              "newest",
              "oldest"
            ],
            "default": "newest"
          }
        }
      },
      "GetDomainsResponse": {
        "type": "object",
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "domain": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "verified",
                    "failed"
                  ]
                },
                "canReceiveEmails": {
                  "type": "boolean"
                },
                "canSendEmails": {
                  "type": "boolean"
                },
                "isActive": {
                  "type": "boolean"
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "totalEmailAddresses": {
                      "type": "number",
                      "minimum": 0
                    },
                    "totalEmailsLast24h": {
                      "type": "number",
                      "minimum": 0
                    },
                    "totalEmailsSent": {
                      "type": "number",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "totalEmailAddresses",
                    "totalEmailsLast24h",
                    "totalEmailsSent"
                  ]
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "domain",
                "description",
                "status",
                "canReceiveEmails",
                "canSendEmails",
                "isActive",
                "stats",
                "createdAt",
                "updatedAt"
              ]
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "number",
                "minimum": 1,
                "maximum": 100,
                "default": 50
              },
              "offset": {
                "type": "number",
                "minimum": 0,
                "default": 0
              },
              "total": {
                "type": "number",
                "minimum": 0
              },
              "hasMore": {
                "type": "boolean"
              }
            },
            "required": [
              "total",
              "hasMore"
            ]
          }
        },
        "required": [
          "domains",
          "pagination"
        ]
      },
      "PostDomainsRequest": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "domain"
        ]
      },
      "PostDomainsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "domain": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "verified",
              "failed"
            ]
          },
          "canReceiveEmails": {
            "type": "boolean"
          },
          "canSendEmails": {
            "type": "boolean"
          },
          "isActive": {
            "type": "boolean"
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalEmailAddresses": {
                "type": "number",
                "minimum": 0
              },
              "totalEmailsLast24h": {
                "type": "number",
                "minimum": 0
              },
              "totalEmailsSent": {
                "type": "number",
                "minimum": 0
              }
            },
            "required": [
              "totalEmailAddresses",
              "totalEmailsLast24h",
              "totalEmailsSent"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "domain",
          "description",
          "status",
          "canReceiveEmails",
          "canSendEmails",
          "isActive",
          "stats",
          "createdAt",
          "updatedAt"
        ]
      },
      "AttachmentInput": {
        "type": "object",
        "properties": {
          "filename": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          }
        },
        "required": [
          "filename",
          "content"
        ]
      },
      "EmailTag": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "value"
        ]
      },
      "SendEmailRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email"
          },
          "to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "subject": {
            "type": "string"
          },
          "bcc": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "cc": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "reply_to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "replyTo": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "html": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "contentType": {
                  "type": "string"
                }
              },
              "required": [
                "filename",
                "content"
              ]
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          }
        },
        "required": [
          "from",
          "to",
          "subject"
        ]
      },
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "messageId": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "messageId"
        ]
      },
      "ScheduleEmailRequest": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "format": "email"
          },
          "to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "subject": {
            "type": "string"
          },
          "bcc": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "cc": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "reply_to": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "replyTo": {
            "anyOf": [
              {
                "type": "string",
                "format": "email"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                }
              }
            ]
          },
          "html": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "contentType": {
                  "type": "string"
                }
              },
              "required": [
                "filename",
                "content"
              ]
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "name",
                "value"
              ]
            }
          },
          "scheduled_at": {
            "type": "string"
          },
          "timezone": {
            "type": "string",
            "default": "UTC"
          }
        },
        "required": [
          "from",
          "to",
          "subject",
          "scheduled_at"
        ]
      },
      "ScheduleEmailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "scheduled"
            ]
          },
          "timezone": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "scheduled_at",
          "status",
          "timezone"
        ]
      },
      "EmailItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "from": {
            "type": "string",
            "format": "email"
          },
          "to": {
            "type": "string",
            "format": "email"
          },
          "subject": {
            "type": "string"
          },
          "receivedAt": {
            "type": "string",
            "format": "date-time"
          },
          "size": {
            "type": "number",
            "minimum": 0
          },
          "hasAttachments": {
            "type": "boolean"
          },
          "domain": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "domain": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "domain"
            ]
          }
        },
        "required": [
          "id",
          "from",
          "to",
          "subject",
          "receivedAt",
          "size",
          "hasAttachments",
          "domain"
        ]
      },
      "GetMailRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          "offset": {
            "type": "number",
            "minimum": 0,
            "default": 0
          },
          "to": {
            "type": "string",
            "format": "email"
          },
          "from": {
            "type": "string",
            "format": "email"
          },
          "domain": {
            "type": "string"
          },
          "sortBy": {
            "type": "string",
            "enum": [
              "newest",
              "oldest"
            ],
            "default": "newest"
          }
        }
      },
      "GetMailResponse": {
        "type": "object",
        "properties": {
          "emails": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "from": {
                  "type": "string",
                  "format": "email"
                },
                "to": {
                  "type": "string",
                  "format": "email"
                },
                "subject": {
                  "type": "string"
                },
                "receivedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "size": {
                  "type": "number",
                  "minimum": 0
                },
                "hasAttachments": {
                  "type": "boolean"
                },
                "domain": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "domain"
                  ]
                }
              },
              "required": [
                "id",
                "from",
                "to",
                "subject",
                "receivedAt",
                "size",
                "hasAttachments",
                "domain"
              ]
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "number",
                "minimum": 1,
                "maximum": 100,
                "default": 50
              },
              "offset": {
                "type": "number",
                "minimum": 0,
                "default": 0
              },
              "total": {
                "type": "number",
                "minimum": 0
              },
              "hasMore": {
                "type": "boolean"
              }
            },
            "required": [
              "total",
              "hasMore"
            ]
          }
        },
        "required": [
          "emails",
          "pagination"
        ]
      },
      "WebhookConfig": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "timeout": {
            "type": "number",
            "minimum": 1,
            "maximum": 300,
            "default": 30
          },
          "retryAttempts": {
            "type": "number",
            "minimum": 0,
            "maximum": 10,
            "default": 3
          }
        },
        "required": [
          "url"
        ]
      },
      "EmailConfig": {
        "type": "object",
        "properties": {
          "forwardTo": {
            "type": "string",
            "format": "email"
          },
          "preserveHeaders": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "forwardTo"
        ]
      },
      "EmailGroupConfig": {
        "type": "object",
        "properties": {
          "members": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "minItems": 1
          },
          "preserveHeaders": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "members"
        ]
      },
      "EndpointConfig": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "headers": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              },
              "timeout": {
                "type": "number",
                "minimum": 1,
                "maximum": 300,
                "default": 30
              },
              "retryAttempts": {
                "type": "number",
                "minimum": 0,
                "maximum": 10,
                "default": 3
              }
            },
            "required": [
              "url"
            ]
          },
          {
            "type": "object",
            "properties": {
              "forwardTo": {
                "type": "string",
                "format": "email"
              },
              "preserveHeaders": {
                "type": "boolean",
                "default": true
              }
            },
            "required": [
              "forwardTo"
            ]
          },
          {
            "type": "object",
            "properties": {
              "members": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "email"
                },
                "minItems": 1
              },
              "preserveHeaders": {
                "type": "boolean",
                "default": true
              }
            },
            "required": [
              "members"
            ]
          }
        ]
      },
      "EndpointStats": {
        "type": "object",
        "properties": {
          "totalDeliveries": {
            "type": "number",
            "minimum": 0
          },
          "successful": {
            "type": "number",
            "minimum": 0
          },
          "failed": {
            "type": "number",
            "minimum": 0
          },
          "lastDelivery": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "totalDeliveries",
          "successful",
          "failed",
          "lastDelivery"
        ]
      },
      "EndpointWithStats": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalDeliveries": {
                "type": "number",
                "minimum": 0
              },
              "successful": {
                "type": "number",
                "minimum": 0
              },
              "failed": {
                "type": "number",
                "minimum": 0
              },
              "lastDelivery": {
                "type": "string",
                "nullable": true,
                "format": "date-time"
              }
            },
            "required": [
              "totalDeliveries",
              "successful",
              "failed",
              "lastDelivery"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "isActive",
          "stats",
          "createdAt",
          "updatedAt"
        ]
      },
      "PostEndpointsRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ]
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "config": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "timeout": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 300,
                    "default": 30
                  },
                  "retryAttempts": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 10,
                    "default": 3
                  }
                },
                "required": [
                  "url"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "forwardTo": {
                    "type": "string",
                    "format": "email"
                  },
                  "preserveHeaders": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "forwardTo"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "members": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "minItems": 1
                  },
                  "preserveHeaders": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "required": [
                  "members"
                ]
              }
            ]
          }
        },
        "required": [
          "name",
          "type",
          "config"
        ]
      },
      "PostEndpointsResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ]
          },
          "isActive": {
            "type": "boolean"
          },
          "stats": {
            "type": "object",
            "properties": {
              "totalDeliveries": {
                "type": "number",
                "minimum": 0
              },
              "successful": {
                "type": "number",
                "minimum": 0
              },
              "failed": {
                "type": "number",
                "minimum": 0
              },
              "lastDelivery": {
                "type": "string",
                "nullable": true,
                "format": "date-time"
              }
            },
            "required": [
              "totalDeliveries",
              "successful",
              "failed",
              "lastDelivery"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "type",
          "isActive",
          "stats",
          "createdAt",
          "updatedAt"
        ]
      },
      "GetEndpointsRequest": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "default": 50
          },
          "offset": {
            "type": "number",
            "minimum": 0,
            "default": 0
          },
          "type": {
            "type": "string",
            "enum": [
              "webhook",
              "email",
              "email_group"
            ]
          },
          "active": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          },
          "sortBy": {
            "type": "string",
            "enum": [
              "newest",
              "oldest"
            ],
            "default": "newest"
          }
        }
      },
      "GetEndpointsResponse": {
        "type": "object",
        "properties": {
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "description": {
                  "type": "string",
                  "nullable": true
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "webhook",
                    "email",
                    "email_group"
                  ]
                },
                "isActive": {
                  "type": "boolean"
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "totalDeliveries": {
                      "type": "number",
                      "minimum": 0
                    },
                    "successful": {
                      "type": "number",
                      "minimum": 0
                    },
                    "failed": {
                      "type": "number",
                      "minimum": 0
                    },
                    "lastDelivery": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "totalDeliveries",
                    "successful",
                    "failed",
                    "lastDelivery"
                  ]
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              },
              "required": [
                "id",
                "name",
                "description",
                "type",
                "isActive",
                "stats",
                "createdAt",
                "updatedAt"
              ]
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "number",
                "minimum": 1,
                "maximum": 100,
                "default": 50
              },
              "offset": {
                "type": "number",
                "minimum": 0,
                "default": 0
              },
              "total": {
                "type": "number",
                "minimum": 0
              },
              "hasMore": {
                "type": "boolean"
              }
            },
            "required": [
              "total",
              "hasMore"
            ]
          }
        },
        "required": [
          "endpoints",
          "pagination"
        ]
      }
    },
    "parameters": {}
  },
  "tags": [
    {
      "name": "Domains",
      "description": "Domain management - Add, verify, and manage domains for email receiving and sending"
    },
    {
      "name": "Emails",
      "description": "Email sending operations - Send immediate and scheduled emails (Resend-compatible)"
    },
    {
      "name": "Mail",
      "description": "Received email management - View and manage emails received by your domains"
    },
    {
      "name": "Endpoints",
      "description": "Endpoint management - Configure webhooks, email forwarding, and email groups for processing received emails"
    }
  ],
  "paths": {
    "/api/v2/domains": {
      "get": {
        "description": "List domains with optional filtering and pagination",
        "summary": "List domains",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "verified",
                "failed"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest"
              ],
              "default": "newest"
            },
            "required": false,
            "name": "sortBy",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "verified",
                              "failed"
                            ]
                          },
                          "canReceiveEmails": {
                            "type": "boolean"
                          },
                          "canSendEmails": {
                            "type": "boolean"
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "totalEmailAddresses": {
                                "type": "number",
                                "minimum": 0
                              },
                              "totalEmailsLast24h": {
                                "type": "number",
                                "minimum": 0
                              },
                              "totalEmailsSent": {
                                "type": "number",
                                "minimum": 0
                              }
                            },
                            "required": [
                              "totalEmailAddresses",
                              "totalEmailsLast24h",
                              "totalEmailsSent"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "domain",
                          "description",
                          "status",
                          "canReceiveEmails",
                          "canSendEmails",
                          "isActive",
                          "stats",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 100,
                          "default": 50
                        },
                        "offset": {
                          "type": "number",
                          "minimum": 0,
                          "default": 0
                        },
                        "total": {
                          "type": "number",
                          "minimum": 0
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "total",
                        "hasMore"
                      ]
                    }
                  },
                  "required": [
                    "domains",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Add a new domain for email receiving and sending",
        "summary": "Create domain",
        "tags": [
          "Domains"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "verified",
                        "failed"
                      ]
                    },
                    "canReceiveEmails": {
                      "type": "boolean"
                    },
                    "canSendEmails": {
                      "type": "boolean"
                    },
                    "isActive": {
                      "type": "boolean"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "totalEmailAddresses": {
                          "type": "number",
                          "minimum": 0
                        },
                        "totalEmailsLast24h": {
                          "type": "number",
                          "minimum": 0
                        },
                        "totalEmailsSent": {
                          "type": "number",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "totalEmailAddresses",
                        "totalEmailsLast24h",
                        "totalEmailsSent"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "domain",
                    "description",
                    "status",
                    "canReceiveEmails",
                    "canSendEmails",
                    "isActive",
                    "stats",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Domain already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/emails": {
      "post": {
        "description": "Send an email through the API (Resend-compatible). Supports both simple text/HTML emails and complex emails with attachments.",
        "summary": "Send email",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "format": "email"
                  },
                  "to": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "subject": {
                    "type": "string"
                  },
                  "bcc": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "cc": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "reply_to": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "replyTo": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "html": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "contentType": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "filename",
                        "content"
                      ]
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "value"
                      ]
                    }
                  }
                },
                "required": [
                  "from",
                  "to",
                  "subject"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "messageId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Cannot send from this email address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/emails/schedule": {
      "post": {
        "description": "Schedule an email to be sent at a future time. Supports natural language scheduling like \"in 1 hour\" or \"tomorrow at 9am\".",
        "summary": "Schedule email",
        "tags": [
          "Emails"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "format": "email"
                  },
                  "to": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "subject": {
                    "type": "string"
                  },
                  "bcc": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "cc": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "reply_to": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "replyTo": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "email"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "format": "email"
                        }
                      }
                    ]
                  },
                  "html": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "headers": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "attachments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "filename": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        },
                        "contentType": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "filename",
                        "content"
                      ]
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "value"
                      ]
                    }
                  },
                  "scheduled_at": {
                    "type": "string"
                  },
                  "timezone": {
                    "type": "string",
                    "default": "UTC"
                  }
                },
                "required": [
                  "from",
                  "to",
                  "subject",
                  "scheduled_at"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email scheduled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "scheduled_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "scheduled"
                      ]
                    },
                    "timezone": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "scheduled_at",
                    "status",
                    "timezone"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Cannot send from this email address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/mail": {
      "get": {
        "description": "Retrieve a paginated list of received emails with optional filtering",
        "summary": "List received emails",
        "tags": [
          "Mail"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": false,
            "name": "to",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "email"
            },
            "required": false,
            "name": "from",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "domain",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest"
              ],
              "default": "newest"
            },
            "required": false,
            "name": "sortBy",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of received emails",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string",
                            "format": "email"
                          },
                          "to": {
                            "type": "string",
                            "format": "email"
                          },
                          "subject": {
                            "type": "string"
                          },
                          "receivedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "size": {
                            "type": "number",
                            "minimum": 0
                          },
                          "hasAttachments": {
                            "type": "boolean"
                          },
                          "domain": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "domain"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "from",
                          "to",
                          "subject",
                          "receivedAt",
                          "size",
                          "hasAttachments",
                          "domain"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 100,
                          "default": 50
                        },
                        "offset": {
                          "type": "number",
                          "minimum": 0,
                          "default": 0
                        },
                        "total": {
                          "type": "number",
                          "minimum": 0
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "total",
                        "hasMore"
                      ]
                    }
                  },
                  "required": [
                    "emails",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/endpoints": {
      "get": {
        "description": "Retrieve a list of configured endpoints (webhooks, email forwarding, email groups) with optional filtering",
        "summary": "List endpoints",
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "webhook",
                "email",
                "email_group"
              ]
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "required": false,
            "name": "active",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "oldest"
              ],
              "default": "newest"
            },
            "required": false,
            "name": "sortBy",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of endpoints",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "endpoints": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "webhook",
                              "email",
                              "email_group"
                            ]
                          },
                          "isActive": {
                            "type": "boolean"
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "totalDeliveries": {
                                "type": "number",
                                "minimum": 0
                              },
                              "successful": {
                                "type": "number",
                                "minimum": 0
                              },
                              "failed": {
                                "type": "number",
                                "minimum": 0
                              },
                              "lastDelivery": {
                                "type": "string",
                                "nullable": true,
                                "format": "date-time"
                              }
                            },
                            "required": [
                              "totalDeliveries",
                              "successful",
                              "failed",
                              "lastDelivery"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "description",
                          "type",
                          "isActive",
                          "stats",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 100,
                          "default": 50
                        },
                        "offset": {
                          "type": "number",
                          "minimum": 0,
                          "default": 0
                        },
                        "total": {
                          "type": "number",
                          "minimum": 0
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "total",
                        "hasMore"
                      ]
                    }
                  },
                  "required": [
                    "endpoints",
                    "pagination"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new endpoint for webhook, email forwarding, or email group functionality",
        "summary": "Create endpoint",
        "tags": [
          "Endpoints"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "webhook",
                      "email",
                      "email_group"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "config": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "format": "uri"
                          },
                          "headers": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string"
                            }
                          },
                          "timeout": {
                            "type": "number",
                            "minimum": 1,
                            "maximum": 300,
                            "default": 30
                          },
                          "retryAttempts": {
                            "type": "number",
                            "minimum": 0,
                            "maximum": 10,
                            "default": 3
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "forwardTo": {
                            "type": "string",
                            "format": "email"
                          },
                          "preserveHeaders": {
                            "type": "boolean",
                            "default": true
                          }
                        },
                        "required": [
                          "forwardTo"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "members": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "format": "email"
                            },
                            "minItems": 1
                          },
                          "preserveHeaders": {
                            "type": "boolean",
                            "default": true
                          }
                        },
                        "required": [
                          "members"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "name",
                  "type",
                  "config"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Endpoint created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string",
                      "nullable": true
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "webhook",
                        "email",
                        "email_group"
                      ]
                    },
                    "isActive": {
                      "type": "boolean"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "totalDeliveries": {
                          "type": "number",
                          "minimum": 0
                        },
                        "successful": {
                          "type": "number",
                          "minimum": 0
                        },
                        "failed": {
                          "type": "number",
                          "minimum": 0
                        },
                        "lastDelivery": {
                          "type": "string",
                          "nullable": true,
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "totalDeliveries",
                        "successful",
                        "failed",
                        "lastDelivery"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "description",
                    "type",
                    "isActive",
                    "stats",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {
                        "nullable": true
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}