{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://inbound.new",
      "description": "Production API server"
    }
  ],
  "info": {
    "title": "Inbound Email API",
    "description": "\n# Inbound API\n\nThe Inbound API allows you to manage email infrastructure programmatically - domains, email addresses, webhooks, and more.\n\n## Authentication\n\nAll API requests require a Bearer token in the Authorization header:\n\n```bash\ncurl -H \"Authorization: Bearer YOUR_API_KEY\" \\\n  https://inbound.new/api/e2/domains\n```\n\n## Base URL\n\n```\nhttps://inbound.new/api/e2\n```\n\n## Quick Start\n\n1. **Create a domain** - Register your domain with Inbound\n2. **Configure DNS** - Add the provided DNS records to your domain\n3. **Create an email address** - Set up addresses to receive emails\n4. **Create an endpoint** - Configure where emails are delivered (webhook, forwarding, etc.)\n\n",
    "version": "2.0.0",
    "license": {
      "name": "Apache-2.0",
      "identifier": "Apache-2.0"
    }
  },
  "webhooks": {
    "emailReceived": {
      "post": {
        "summary": "Email Received",
        "description": "\nWhen emails arrive at your configured addresses, Inbound sends a webhook to your endpoint with the complete email data.\n\n## Webhook Payload Structure\n\nWe provide a fully typed webhook payload for you to use in your endpoints:\n\n```typescript\nimport type { InboundWebhookPayload } from 'inboundemail'\n```\n\n### Example Payload\n\n```typescript\nconst payload: InboundWebhookPayload = {\n  event: 'email.received',\n  timestamp: '2024-01-15T10:30:00Z',\n  email: {\n    id: 'inbnd_abc123def456ghi',\n    messageId: '<unique-id@sender.com>',\n    from: {\n      text: 'John Doe <john@sender.com>',\n      addresses: [{\n        name: 'John Doe',\n        address: 'john@sender.com'\n      }]\n    },\n    to: {\n      text: 'support@yourdomain.com',\n      addresses: [{\n        name: null,\n        address: 'support@yourdomain.com'\n      }]\n    },\n    recipient: 'support@yourdomain.com',\n    subject: 'Help with my order',\n    receivedAt: '2024-01-15T10:30:00Z',\n    parsedData: {\n      messageId: '<unique-id@sender.com>',\n      date: new Date('2024-01-15T10:30:00Z'),\n      subject: 'Help with my order',\n      from: { /* ... */ },\n      to: { /* ... */ },\n      cc: null,\n      bcc: null,\n      replyTo: null,\n      textBody: 'Hello, I need help with my recent order...',\n      htmlBody: '<p>Hello, I need help with my recent order...</p>',\n      attachments: [\n        {\n          filename: 'order-receipt.pdf',\n          contentType: 'application/pdf',\n          size: 45678,\n          contentId: '<att_abc123>',\n          contentDisposition: 'attachment',\n          downloadUrl: 'https://inbound.new/api/e2/attachments/inbnd_abc123/order-receipt.pdf'\n        }\n      ]\n    }\n  },\n  endpoint: {\n    id: 'endp_xyz789',\n    name: 'Support Webhook',\n    type: 'webhook'\n  }\n}\n```\n\n## Webhook Security\n\nAlways verify webhook requests before processing them to prevent unauthorized access.\n\n### Verification Headers\n\nEvery webhook request includes security headers:\n\n| Header | Description |\n|--------|-------------|\n| `X-Webhook-Verification-Token` | Unique verification token for your endpoint |\n| `X-Endpoint-ID` | ID of the endpoint that triggered this webhook |\n| `X-Webhook-Event` | Event type (e.g., `email.received`) |\n| `X-Webhook-Timestamp` | ISO 8601 timestamp of when the webhook was sent |\n\n### Verifying with the SDK\n\n```typescript\nimport { Inbound, verifyWebhookFromHeaders } from 'inboundemail'\n\nconst inbound = new Inbound(process.env.INBOUND_API_KEY!)\n\nexport async function POST(request: Request) {\n  // Verify webhook authenticity before processing\n  const isValid = await verifyWebhookFromHeaders(request.headers, inbound)\n  \n  if (!isValid) {\n    return new Response('Unauthorized', { status: 401 })\n  }\n  \n  // Process the verified webhook payload\n  const payload: InboundWebhookPayload = await request.json()\n  const { email } = payload\n  \n  console.log('Received verified email:', email.subject)\n  \n  return new Response('OK', { status: 200 })\n}\n```\n\n## Downloading Attachments\n\nEach attachment includes a `downloadUrl` for direct file access:\n\n```typescript\n// Download attachments from webhook payload\nfor (const attachment of email.parsedData.attachments) {\n  const response = await fetch(attachment.downloadUrl, {\n    headers: {\n      'Authorization': `Bearer ${process.env.INBOUND_API_KEY}`\n    }\n  })\n  \n  if (response.ok) {\n    const fileBuffer = await response.arrayBuffer()\n    // Process the file...\n  }\n}\n```\n\n> **Note:** Authentication via API key in the Authorization header is required to download attachments.\n",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "description": "Webhook payload sent when an email is received",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "string",
                    "example": "email.received",
                    "description": "The event type"
                  },
                  "timestamp": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2024-01-15T10:30:00Z"
                  },
                  "email": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "inbnd_abc123def456ghi"
                      },
                      "messageId": {
                        "type": "string",
                        "example": "<unique-id@sender.com>"
                      },
                      "subject": {
                        "type": "string",
                        "example": "Help with my order"
                      },
                      "recipient": {
                        "type": "string",
                        "example": "support@yourdomain.com"
                      },
                      "from": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          },
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "address": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "to": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          },
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "address": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "parsedData": {
                        "type": "object",
                        "properties": {
                          "textBody": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "htmlBody": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "attachments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "filename": {
                                  "type": "string"
                                },
                                "contentType": {
                                  "type": "string"
                                },
                                "size": {
                                  "type": "integer"
                                },
                                "downloadUrl": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "endpoint": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "endp_xyz789"
                      },
                      "name": {
                        "type": "string",
                        "example": "Support Webhook"
                      },
                      "type": {
                        "type": "string",
                        "example": "webhook"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook processed successfully"
          }
        },
        "operationId": "webhooks.emailReceived"
      }
    }
  },
  "tags": [
    {
      "name": "Webhooks",
      "description": "Webhooks sent by Inbound to your configured endpoints when events occur."
    },
    {
      "name": "Emails",
      "description": "Send, list, and manage emails. Supports immediate sending, scheduling, replies, and retry functionality."
    },
    {
      "name": "Mail",
      "description": "Inbox and thread views for received emails. Filter by domain, address, or search."
    },
    {
      "name": "Domains",
      "description": "Manage domains for sending and receiving emails. Domains must be verified via DNS before use."
    },
    {
      "name": "Endpoints",
      "description": "Configure where incoming emails are delivered - webhooks, email forwarding, or custom handlers."
    },
    {
      "name": "Email Addresses",
      "description": "Create and manage email addresses on your verified domains."
    },
    {
      "name": "Attachments",
      "description": "Download email attachments using authenticated requests."
    },
    {
      "name": "Blocklist",
      "description": "Manage recipient and sender addresses blocked after delivery failures."
    },
    {
      "name": "Inbox",
      "description": "List and retrieve threaded email conversations."
    },
    {
      "name": "Onboarding",
      "description": "Validate an account's initial send and reply flow."
    },
    {
      "name": "Guard",
      "description": "Create and manage inbound email filtering rules."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Your Inbound API key. Include it in the Authorization header as: Bearer <your-api-key>"
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/e2/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List all domains",
        "description": "Get paginated list of domains for authenticated user with optional filtering.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "anyOf": [
                {
                  "format": "integer",
                  "default": 0,
                  "type": "string"
                },
                {
                  "minimum": 1,
                  "maximum": 100,
                  "default": 50,
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "default": 0,
              "anyOf": [
                {
                  "format": "integer",
                  "default": 0,
                  "type": "string"
                },
                {
                  "minimum": 0,
                  "default": 0,
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "pending",
                "verified",
                "failed"
              ],
              "type": "string"
            }
          },
          {
            "name": "canReceive",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "check",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "canReceiveEmails": {
                            "type": "boolean"
                          },
                          "hasMxRecords": {
                            "type": "boolean"
                          },
                          "domainProvider": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "providerConfidence": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastDnsCheck": {
                            "anyOf": [
                              {
                                "format": "date-time",
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "lastSesCheck": {
                            "anyOf": [
                              {
                                "format": "date-time",
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "isCatchAllEnabled": {
                            "type": "boolean"
                          },
                          "catchAllEndpointId": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "mailFromDomain": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "mailFromDomainStatus": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "mailFromDomainVerifiedAt": {
                            "anyOf": [
                              {
                                "format": "date-time",
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "receiveDmarcEmails": {
                            "type": "boolean"
                          },
                          "createdAt": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "updatedAt": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "totalEmailAddresses": {
                                "type": "number"
                              },
                              "activeEmailAddresses": {
                                "type": "number"
                              },
                              "hasCatchAll": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "totalEmailAddresses",
                              "activeEmailAddresses",
                              "hasCatchAll"
                            ]
                          },
                          "catchAllEndpoint": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "isActive": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name",
                                  "type",
                                  "isActive"
                                ]
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "verificationCheck": {
                            "type": "object",
                            "properties": {
                              "dnsRecords": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "string"
                                    },
                                    "isVerified": {
                                      "type": "boolean"
                                    },
                                    "error": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "name",
                                    "value",
                                    "isVerified"
                                  ]
                                }
                              },
                              "sesStatus": {
                                "type": "string"
                              },
                              "isFullyVerified": {
                                "type": "boolean"
                              },
                              "lastChecked": {
                                "format": "date-time",
                                "type": "string"
                              }
                            },
                            "required": [
                              "dnsRecords",
                              "sesStatus",
                              "isFullyVerified",
                              "lastChecked"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "domain",
                          "status",
                          "canReceiveEmails",
                          "hasMxRecords",
                          "domainProvider",
                          "providerConfidence",
                          "lastDnsCheck",
                          "lastSesCheck",
                          "isCatchAllEnabled",
                          "catchAllEndpointId",
                          "mailFromDomain",
                          "mailFromDomainStatus",
                          "mailFromDomainVerifiedAt",
                          "receiveDmarcEmails",
                          "createdAt",
                          "updatedAt",
                          "userId",
                          "stats"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number"
                        },
                        "offset": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "limit",
                        "offset",
                        "total",
                        "hasMore"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "domains.list"
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create new domain",
        "description": "Add a new domain for email receiving. Automatically initiates verification and returns required DNS records. Subdomains inherit verification from their verified parent domain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "minLength": 1,
                    "maxLength": 253,
                    "type": "string"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "minLength": 1,
                    "maxLength": 253,
                    "type": "string"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "minLength": 1,
                    "maxLength": 253,
                    "type": "string"
                  }
                },
                "required": [
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response for status 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "verified",
                        "failed"
                      ]
                    },
                    "canReceiveEmails": {
                      "type": "boolean"
                    },
                    "hasMxRecords": {
                      "type": "boolean"
                    },
                    "domainProvider": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "providerConfidence": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "mailFromDomain": {
                      "type": "string"
                    },
                    "mailFromDomainStatus": {
                      "type": "string"
                    },
                    "dnsRecords": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "isRequired": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "type",
                          "name",
                          "value",
                          "isRequired"
                        ]
                      }
                    },
                    "dnsConflict": {
                      "type": "object",
                      "properties": {
                        "hasConflict": {
                          "type": "boolean"
                        },
                        "conflictType": {
                          "type": "string",
                          "enum": [
                            "mx",
                            "cname",
                            "both"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "existingRecords": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "value"
                            ]
                          }
                        }
                      },
                      "required": [
                        "hasConflict",
                        "message"
                      ]
                    },
                    "createdAt": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "updatedAt": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "parentDomain": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "domain",
                    "status",
                    "canReceiveEmails",
                    "hasMxRecords",
                    "domainProvider",
                    "providerConfidence",
                    "dnsRecords",
                    "createdAt",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Response for status 403",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "domains.create"
      }
    },
    "/api/e2/domains/{id}": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get domain by ID",
        "description": "Get detailed information about a specific domain including DNS records. Use `?check=true` for a live verification check.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "check",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "true"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "canReceiveEmails": {
                      "type": "boolean"
                    },
                    "hasMxRecords": {
                      "type": "boolean"
                    },
                    "domainProvider": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "providerConfidence": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastDnsCheck": {
                      "anyOf": [
                        {
                          "format": "date-time",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "lastSesCheck": {
                      "anyOf": [
                        {
                          "format": "date-time",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "isCatchAllEnabled": {
                      "type": "boolean"
                    },
                    "catchAllEndpointId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "mailFromDomain": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "mailFromDomainStatus": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "mailFromDomainVerifiedAt": {
                      "anyOf": [
                        {
                          "format": "date-time",
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "receiveDmarcEmails": {
                      "type": "boolean"
                    },
                    "createdAt": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "updatedAt": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "userId": {
                      "type": "string"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "totalEmailAddresses": {
                          "type": "number"
                        },
                        "activeEmailAddresses": {
                          "type": "number"
                        },
                        "emailsLast24h": {
                          "type": "number"
                        },
                        "emailsLast7d": {
                          "type": "number"
                        },
                        "emailsLast30d": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "totalEmailAddresses",
                        "activeEmailAddresses",
                        "emailsLast24h",
                        "emailsLast7d",
                        "emailsLast30d"
                      ]
                    },
                    "catchAllEndpoint": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "type",
                            "isActive"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "dnsRecords": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "domainId": {
                            "type": "string"
                          },
                          "recordType": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "isRequired": {
                            "type": "boolean"
                          },
                          "isVerified": {
                            "type": "boolean"
                          },
                          "lastChecked": {
                            "anyOf": [
                              {
                                "format": "date-time",
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "createdAt": {
                            "format": "date-time",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "domainId",
                          "recordType",
                          "name",
                          "value",
                          "isRequired",
                          "isVerified",
                          "lastChecked",
                          "createdAt"
                        ]
                      }
                    },
                    "verificationCheck": {
                      "type": "object",
                      "properties": {
                        "dnsRecords": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "isVerified": {
                                "type": "boolean"
                              },
                              "error": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "type",
                              "name",
                              "value",
                              "isVerified"
                            ]
                          }
                        },
                        "sesStatus": {
                          "type": "string"
                        },
                        "dkimStatus": {
                          "type": "string"
                        },
                        "dkimVerified": {
                          "type": "boolean"
                        },
                        "dkimTokens": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "mailFromDomain": {
                          "type": "string"
                        },
                        "mailFromStatus": {
                          "type": "string"
                        },
                        "mailFromVerified": {
                          "type": "boolean"
                        },
                        "isFullyVerified": {
                          "type": "boolean"
                        },
                        "lastChecked": {
                          "format": "date-time",
                          "type": "string"
                        }
                      },
                      "required": [
                        "dnsRecords",
                        "sesStatus",
                        "isFullyVerified",
                        "lastChecked"
                      ]
                    },
                    "authRecommendations": {
                      "type": "object",
                      "properties": {
                        "spf": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "value",
                            "description"
                          ]
                        },
                        "dmarc": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "value",
                            "description"
                          ]
                        }
                      }
                    },
                    "inheritsFromParent": {
                      "type": "boolean"
                    },
                    "parentDomain": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "domain",
                    "status",
                    "canReceiveEmails",
                    "hasMxRecords",
                    "domainProvider",
                    "providerConfidence",
                    "lastDnsCheck",
                    "lastSesCheck",
                    "isCatchAllEnabled",
                    "catchAllEndpointId",
                    "mailFromDomain",
                    "mailFromDomainStatus",
                    "mailFromDomainVerifiedAt",
                    "receiveDmarcEmails",
                    "createdAt",
                    "updatedAt",
                    "userId",
                    "stats",
                    "dnsRecords"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "domains.retrieve"
      },
      "patch": {
        "tags": [
          "Domains"
        ],
        "summary": "Update domain catch-all settings",
        "description": "Update catch-all email settings for a domain. Catch-all receives emails sent to any address on your domain. Domain must be verified first.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "isCatchAllEnabled": {
                    "type": "boolean"
                  },
                  "catchAllEndpointId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "isCatchAllEnabled"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "isCatchAllEnabled": {
                    "type": "boolean"
                  },
                  "catchAllEndpointId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "isCatchAllEnabled"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "isCatchAllEnabled": {
                    "type": "boolean"
                  },
                  "catchAllEndpointId": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "isCatchAllEnabled"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "isCatchAllEnabled": {
                      "type": "boolean"
                    },
                    "catchAllEndpointId": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "catchAllEndpoint": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "isActive": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "type",
                            "isActive"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "updatedAt": {
                      "format": "date-time",
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "domain",
                    "status",
                    "isCatchAllEnabled",
                    "catchAllEndpointId",
                    "updatedAt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "domains.update"
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete domain",
        "description": "Delete a domain and all associated resources including email addresses, DNS records, and SES configurations. Root domains with subdomains must have subdomains deleted first.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "deletedResources": {
                      "type": "object",
                      "properties": {
                        "domain": {
                          "type": "string"
                        },
                        "emailAddresses": {
                          "type": "number"
                        },
                        "dnsRecords": {
                          "type": "number"
                        },
                        "blockedEmails": {
                          "type": "number"
                        },
                        "sesIdentity": {
                          "type": "boolean"
                        },
                        "sesReceiptRules": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "domain",
                        "emailAddresses",
                        "dnsRecords",
                        "blockedEmails",
                        "sesIdentity",
                        "sesReceiptRules"
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "message",
                    "deletedResources"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "dependentSubdomains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "domain",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Response for status 404",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "dependentSubdomains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "domain",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Response for status 409",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "dependentSubdomains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "domain",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "dependentSubdomains": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "domain",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        },
        "operationId": "domains.delete"
      }
    },
    "/api/e2/endpoints": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "List all endpoints",
        "description": "Get paginated list of endpoints for authenticated user with optional filtering by type, active status, sort order, and search by name",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "anyOf": [
                {
                  "format": "integer",
                  "default": 0,
                  "type": "string"
                },
                {
                  "minimum": 1,
                  "maximum": 100,
                  "default": 50,
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "minimum": 0,
              "default": 0,
              "anyOf": [
                {
                  "format": "integer",
                  "default": 0,
                  "type": "string"
                },
                {
                  "minimum": 0,
                  "default": 0,
                  "type": "integer"
                }
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "webhook",
                "email",
                "email_group"
              ],
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "newest",
                "oldest"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "maxLength": 100,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "webhook",
                              "email",
                              "email_group"
                            ]
                          },
                          "config": {},
                          "isActive": {
                            "type": "boolean"
                          },
                          "description": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "userId": {
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string"
                          },
                          "groupEmails": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "deliveryStats": {
                            "type": "object",
                            "properties": {
                              "total": {
                                "type": "number"
                              },
                              "successful": {
                                "type": "number"
                              },
                              "failed": {
                                "type": "number"
                              },
                              "lastDelivery": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "total",
                              "successful",
                              "failed",
                              "lastDelivery"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "type",
                          "config",
                          "isActive",
                          "description",
                          "userId",
                          "createdAt",
                          "updatedAt",
                          "groupEmails",
                          "deliveryStats"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "limit": {
                          "type": "number"
                        },
                        "offset": {
                          "type": "number"
                        },
                        "total": {
                          "type": "number"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "limit",
                        "offset",
                        "total",
                        "hasMore"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          }
        },
        "operationId": "endpoints.list"
      },
      "post": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Create new endpoint",
        "description": "Create a new endpoint (webhook, email, or email_group) for the authenticated user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 255,
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "webhook",
                      "email",
                      "email_group"
                    ]
                  },
                  "config": {
                    "anyOf": [
                      {
                        "title": "WebhookConfig",
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "timeout": {
                            "minimum": 1,
                            "maximum": 300,
                            "type": "number"
                          },
                          "retryAttempts": {
                            "minimum": 0,
                            "maximum": 10,
                            "type": "number"
                          },
                          "headers": {
                            "description": "Custom headers to include with webhook requests",
                            "type": "object",
                            "patternProperties": {
                              "^(.*)$": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      {
                        "title": "EmailConfig",
                        "type": "object",
                        "properties": {
                          "forwardTo": {
                            "format": "email",
                            "type": "string"
                          },
                          "includeAttachments": {
                            "type": "boolean"
                          },
                          "subjectPrefix": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "fromAddress": {
                            "format": "email",
                            "type": "string"
                          },
                          "senderName": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "preserveHeaders": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "forwardTo"
                        ]
                      },
                      {
                        "title": "EmailGroupConfig",
                        "type": "object",
                        "properties": {
                          "emails": {
                            "minItems": 1,
                            "maxItems": 50,
                            "type": "array",
                            "items": {
                              "format": "email",
                              "type": "string"
                            }
                          },
                          "includeAttachments": {
                            "type": "boolean"
                          },
                          "subjectPrefix": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "fromAddress": {
                            "format": "email",
                            "type": "string"
                          },
                          "senderName": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "preserveHeaders": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "emails"
                        ]
                      }
                    ]
                  },
                  "description": {
                    "maxLength": 1000,
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "type",
                  "config"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 255,
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "webhook",
                      "email",
                      "email_group"
                    ]
                  },
                  "config": {
                    "anyOf": [
                      {
                        "title": "WebhookConfig",
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "timeout": {
                            "minimum": 1,
                            "maximum": 300,
                            "type": "number"
                          },
                          "retryAttempts": {
                            "minimum": 0,
                            "maximum": 10,
                            "type": "number"
                          },
                          "headers": {
                            "description": "Custom headers to include with webhook requests",
                            "type": "object",
                            "patternProperties": {
                              "^(.*)$": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      {
                        "title": "EmailConfig",
                        "type": "object",
                        "properties": {
                          "forwardTo": {
                            "format": "email",
                            "type": "string"
                          },
                          "includeAttachments": {
                            "type": "boolean"
                          },
                          "subjectPrefix": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "fromAddress": {
                            "format": "email",
                            "type": "string"
                          },
                          "senderName": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "preserveHeaders": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "forwardTo"
                        ]
                      },
                      {
                        "title": "EmailGroupConfig",
                        "type": "object",
                        "properties": {
                          "emails": {
                            "minItems": 1,
                            "maxItems": 50,
                            "type": "array",
                            "items": {
                              "format": "email",
                              "type": "string"
                            }
                          },
                          "includeAttachments": {
                            "type": "boolean"
                          },
                          "subjectPrefix": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "fromAddress": {
                            "format": "email",
                            "type": "string"
                          },
                          "senderName": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "preserveHeaders": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "emails"
                        ]
                      }
                    ]
                  },
                  "description": {
                    "maxLength": 1000,
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "type",
                  "config"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "minLength": 1,
                    "maxLength": 255,
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "webhook",
                      "email",
                      "email_group"
                    ]
                  },
                  "config": {
                    "anyOf": [
                      {
                        "title": "WebhookConfig",
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "timeout": {
                            "minimum": 1,
                            "maximum": 300,
                            "type": "number"
                          },
                          "retryAttempts": {
                            "minimum": 0,
                            "maximum": 10,
                            "type": "number"
                          },
                          "headers": {
                            "description": "Custom headers to include with webhook requests",
                            "type": "object",
                            "patternProperties": {
                              "^(.*)$": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      {
                        "title": "EmailConfig",
                        "type": "object",
                        "properties": {
                          "forwardTo": {
                            "format": "email",
                            "type": "string"
                          },
                          "includeAttachments": {
                            "type": "boolean"
                          },
                          "subjectPrefix": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "fromAddress": {
                            "format": "email",
                            "type": "string"
                          },
                          "senderName": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "preserveHeaders": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "forwardTo"
                        ]
                      },
                      {
                        "title": "EmailGroupConfig",
                        "type": "object",
                        "properties": {
                          "emails": {
                            "minItems": 1,
                            "maxItems": 50,
                            "type": "array",
                            "items": {
                              "format": "email",
                              "type": "string"
                            }
                          },
                          "includeAttachments": {
                            "type": "boolean"
                          },
                          "subjectPrefix": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "fromAddress": {
                            "format": "email",
                            "type": "string"
                          },
                          "senderName": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "preserveHeaders": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "emails"
                        ]
                      }
                    ]
                  },
                  "description": {
                    "maxLength": 1000,
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "type",
                  "config"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response for status 201",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "webhook",
                        "email",
                        "email_group"
                      ]
                    },
                    "config": {},
                    "isActive": {
                      "type": "boolean"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "userId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string"
                    },
                    "groupEmails": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryStats": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "successful": {
                          "type": "number"
                        },
                        "failed": {
                          "type": "number"
                        },
                        "lastDelivery": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "total",
                        "successful",
                        "failed",
                        "lastDelivery"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "type",
                    "config",
                    "isActive",
                    "description",
                    "userId",
                    "createdAt",
                    "updatedAt",
                    "groupEmails",
                    "deliveryStats"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Response for status 400",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "details": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Response for status 401",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Response for status 500",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "statusCode"
                  ]
                }
              }
            }
          }
        },
        "operationId": "endpoints.create"
      }
    },
    "/api/e2/endpoints/{id}": {
      "get": {
        "tags": [
          "Endpoints"
        ],
        "summary": "Get endpoint details",
        "description": "Get detailed information about a specific endpoint including delivery stats, recent deliveries, associated emails, and catch-all domains",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "webhook",
                        "email",
                        "email_group"
                      ]
                    },
                    "config": {},
                    "isActive": {
                      "type": "boolean"
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "userId": {
                      "type": "string"
                    },
                    "createdAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "updatedAt": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "groupEmails": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "deliveryStats": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "number"
                        },
                        "successful": {
                          "type": "number"
                        },
                        "failed": {
[...]
